.card-indiv {
  padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }
  
  .card_info {
    text-align: center;
  }
  
  .itemCount {
    margin-bottom: 20px;
  }

  .image_items {
      width: 100px;
  }

  .itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }